.role-picking-screen {
    background-image: \
        linear-gradient(to right, rgba(black, 0.9) 30%, transparent 44%, transparent 56%, rgba(black, 0.9) 70%),\
        url('../images/game-ui/挑选角色阶段的背景.webp')
    background-size: cover
    background-position: center

    &.leaving {
        animation fighters-picking-screen-leaving 0.3s ease-in

        @keyframes fighters-picking-screen-leaving {
            0% {
                transform none
                opacity 1
            }
            to {
                transform: translateY(110%) scale(0.79)
                opacity 0
            }
        }
    }
}

.role-candidates-slot {
    width: 25rem
    height @width
    position absolute
    top 32%
    margin-top: -0.5 * @height
    margin-left: 100px
    margin-right: @margin-left

    &.player-1 {
        left 1rem
    }

    &.player-2 {
        right 1rem
    }

    &.fighter-has-decided .keyboard-tip-container {
        // display none
        opacity 0.05
    }

    .keyboard-tips {
        z-index: 319
        position absolute
        top: 100%
        bottom: -1.5rem
        left 0
        right 0
    }


    .keyboard-tip-container {
        font-size: 1.1  rem
        position absolute
        top auto

        &.decision-maker {
            bottom 0
            left 50%
            margin-left 0
            margin-right 0
            transform: translateX(-50%)
        }

        &.pick-prev-candidate,
        &.pick-next-candidate {
            bottom 100%
            margin: 0 20%
        }

        &.pick-prev-candidate {
            left 0
        }

        &.pick-next-candidate {
            left auto
            right 0
        }
    }

    .role-candidate {
        left 0
        width: 100%
        height 100%

        .fighter-name {
            position absolute
            z-index 20
            left: 50%;
            top 2rem
            width auto
            border-radius: 0.4rem
            margin 0;
            transform: translateX(-50%)

            font-size: 1.5rem
            letter-spacing: 0.2em
            font-weight: 600
            padding: 0.3em 0.7em 0.4em

            color: white;
            border: 0.1rem solid white;
            background-color: rgba(black, 0.8)
        }

        .role-looks {
            z-index 0

            position absolute
            top 0
            left 0
            right 0
            bottom 0
        }

        .specs {
            z-index 10

            position absolute

            top 100%
            margin 1rem auto

            width auto
        }

        .spec {
            position relative
            width 100%
            margin 1.8rem auto

            .spec-label {
                position absolute
                top -1rem
                bottom -1rem
                margin auto -2rem

                font-size 1rem
                width 1.5rem
                height 1.5rem
                line-height 1.45rem

                color white
            }

            .spec-value {
                position absolute
                margin auto 4px
                font-size 0.9rem
                line-height 1.2
                color white
            }

            .spec-ratio-bar {
                box-sizing border-box
                display flex
                width 100%
                padding 3px
                border 2px solid rgba(white, 0.319)
                border-radius: 5px
                background-color rgba(black, 0.51)
            }

            .spec-ratio-bar-scale {
                height 0.5rem
                border-radius: 2px
            }

            &.hp .spec-ratio-bar-scale {
                background-color #f44
            }

            &.ap .spec-ratio-bar-scale {
                background-color #4f5
            }

            &.dp .spec-ratio-bar-scale {
                background-color #45f
            }
        }
    }
}

.player-1 .role-candidate {

    .specs {
        left  22%
        right 22%
    }

    .spec-ratio-bar  {
        justify-content flex-start
    }

    .spec-value,
    .spec-label {
        left 0
    }
}

.player-2 .role-candidate {

    .specs {
        left  22%
        right 22%
    }

    .spec-ratio-bar  {
        justify-content flex-end
    }

    .spec-value,
    .spec-label {
        right 0
    }
}
