.form{
  font-size:1rem;
}
.form-controls-row{
  display:block;
  margin:1em auto;
}
.form-control{
  display:inline-flex;
  flex-wrap:wrap;
  align-items:center;
  padding:0 0.5em;
}
.form-control:focus-within{
  outline:3px solid #000;
}
.form-control:not(.is-disabled ):hover{
  background-color:rgba(0,0,0,0.1);
}
.form-control input{
  border:1px solid transparent;
}
.form-control input:not([type="checkbox"]):not([type="radio"]){
  border-bottom-color:#000;
}
.form-control > label{
  cursor:pointer;
}
.form-control > .label,
.form-control > .description,
.form-control > .the-control{
  display:block;
}
.form-control > .the-control{
  flex:0 0;
  margin:0 0.25em 0 0;
  min-width:10em;
  font-size:inherit;
  outline:none;
}
.form-control > .label,
.form-control > .description{
  padding:0.1em 0.25em;
  line-height:1.5;
}
.form-control.has-dual-labels > .label-1{
  margin-left:-0.25em;
}
.form-control > .label{
  min-width:1em;
  color:#000;
}
.form-control .description{
  font-size:80%;
  flex:1 0;
  min-width:calc(100% - 2em);
  margin:0 0 0 1em;
}
.form-control .description p{
  margin:0.1em 0;
}
.form-control.has-description > .label{
  flex:1 0;
  min-width:60%;
}
.form-control.is-disabled .description,
.form-control.is-disabled > .label,
.form-control.is-disabled > .the-control{
  cursor:not-allowed;
}
.form-control.is-disabled .description,
.form-control.is-disabled > .label{
  color:#ccc;
  font-style:italic;
}
.check-box input[type="checkbox"]{
  width:1em;
  min-width:1em;
  height:1em;
  margin-top:2px;
  color:#7951ff;
  position:relative;
}
.check-box input[type="checkbox"]::after,
.check-box input[type="checkbox"]::before{
  content:'';
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.check-box input[type="checkbox"]::before{
  z-index:1;
  border:2px solid currentColor;
  background-color:#fff;
  margin:auto;
}
.check-box input[type="checkbox"]::after{
  visibility:hidden;
  opacity:0;
  z-index:2;
  background-color:currentColor;
  margin:4px;
  transition-property:visibility, opacity, width, height, margin;
  transition-duration:0.3s;
  transition-timing-function:ease-out;
}
.check-box input[type="checkbox"]:checked::after{
  visibility:visible;
  opacity:1;
}
.check-box.is-disabled input[type="checkbox"]{
  color:#ccc;
}
.check-box .description{
  margin-left:1.7em;
}
.number-box input.the-control{
  width:4em;
  min-width:4em;
  text-align:center;
}
.number-box .description{
  margin-left:checkBoxSize;
}
article{
  line-height:1.6;
}
article p{
  margin:0.5em auto;
}
article hr{
  margin:1rem auto;
  border:0 solid transparent;
  height:1px;
  background-image:linear-gradient(to right, transparent 2%, #ddd 30% 70%, transparent 98%);
}
article .align-center{
  text-align:center;
}
article .align-right{
  text-align:right;
}
article blockquote{
  margin:0;
}
article blockquote em{
  font-weight:600;
  font-size:120%;
}
.keyboard-tip-container{
  flex:0 0;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  position:relative;
  min-width:3em;
  height:4.5em;
}
.keyboard-tip-container.label-lays-below-hint{
  flex-direction:column-reverse;
}
.keyboard-tip,
.keyboard-tip-label{
  text-align:center;
}
.keyboard-tip-label{
  top:0;
  bottom:auto;
  font-size:0.8em;
  padding:0.2em 0.5em;
  width:auto;
  height:1.5em;
  line-height:1.5;
  border-radius:0.25em;
  color:#fff;
  background-color:rgba(0,0,0,0.87);
}
.keyboard-tip{
  font-size:1.2em;
  box-sizing:border-box;
  border:0.25em double #000;
  padding:0 0.35em;
  min-width:2.2em;
  height:2.2em;
  line-height:1.65;
  border-radius:0.3em;
  top:auto;
  bottom:0;
  text-align:center;
  background-color:#fff;
}
.ui-screen{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
  width:auto;
  height:auto;
}
.ui-screen .count-down-overlay{
  z-index:900;
}
.count-down-overlay{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
  width:auto;
  height:auto;
}
.count-down-overlay .modal,
.count-down-overlay .backdrop{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  padding:0;
}
.count-down-overlay .backdrop{
  z-index:0;
  width:auto;
  height:auto;
  background-color:#000;
  animation:count-down-overlay-backdrop-fading-out 3.2s ease-out forwards;
}
@-moz-keyframes count-down-overlay-backdrop-fading-out{
  0%, 30%{
    opacity:0.9;
  }
  36%, 63%{
    opacity:0.6;
  }
  69%, 96%{
    opacity:0.3;
  }
  100%{
    opacity:0;
  }
}
@-webkit-keyframes count-down-overlay-backdrop-fading-out{
  0%, 30%{
    opacity:0.9;
  }
  36%, 63%{
    opacity:0.6;
  }
  69%, 96%{
    opacity:0.3;
  }
  100%{
    opacity:0;
  }
}
@-o-keyframes count-down-overlay-backdrop-fading-out{
  0%, 30%{
    opacity:0.9;
  }
  36%, 63%{
    opacity:0.6;
  }
  69%, 96%{
    opacity:0.3;
  }
  100%{
    opacity:0;
  }
}
@keyframes count-down-overlay-backdrop-fading-out{
  0%, 30%{
    opacity:0.9;
  }
  36%, 63%{
    opacity:0.6;
  }
  69%, 96%{
    opacity:0.3;
  }
  100%{
    opacity:0;
  }
}
.count-down-overlay .modal{
  z-index:20;
  padding:0.5rem;
  width:18rem;
  height:10rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border-radius:1rem;
  -webkit-backdrop-filter:blur(0.5rem);
  backdrop-filter:blur(0.5rem);
  color:#000;
  border:0.36rem double #fff;
  background-color:rgba(0,0,0,0.51);
  box-shadow:0 0 1rem rgba(0,0,0,0.219);
  animation:count-down-overlay-modal-enter 0.28s ease-out forwards;
}
.count-down-overlay.is-leaving .modal{
  animation-name:count-down-overlay-modal-leave;
}
.count-down-overlay .info{
  font-size:2rem;
  font-weight:600;
  letter-spacing:0.1em;
  margin-top:1rem;
  text-stroke:1px #fff;
  -webkit-text-stroke:1px #fff;
}
.count-down-overlay .digit{
  font-size:4.5rem;
  font-weight:600;
  margin-bottom:0.8rem;
  text-stroke:2px #fff;
  -webkit-text-stroke:2px #fff;
}
@-moz-keyframes count-down-overlay-modal-enter{
  0%{
    opacity:0;
    transform:scale(0.1);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
@-webkit-keyframes count-down-overlay-modal-enter{
  0%{
    opacity:0;
    transform:scale(0.1);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
@-o-keyframes count-down-overlay-modal-enter{
  0%{
    opacity:0;
    transform:scale(0.1);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
@keyframes count-down-overlay-modal-enter{
  0%{
    opacity:0;
    transform:scale(0.1);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
@-moz-keyframes count-down-overlay-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@-webkit-keyframes count-down-overlay-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@-o-keyframes count-down-overlay-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@keyframes count-down-overlay-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
.overlay-modal{
  z-index:300;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
  width:auto;
  height:auto;
}
.overlay-modal .modal,
.overlay-modal .backdrop{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  padding:0;
}
.overlay-modal .backdrop{
  z-index:0;
  width:auto;
  height:auto;
  background-color:rgba(0,0,0,0.66);
  -webkit-backdrop-filter:blur(0.2rem);
  backdrop-filter:blur(0.2rem);
}
.overlay-modal .modal{
  z-index:20;
  padding:0.5rem;
  max-width:80%;
  max-height:80%;
  width:16rem;
  height:12rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border-radius:1rem;
  -webkit-backdrop-filter:blur(0.5rem);
  backdrop-filter:blur(0.5rem);
  color:#000;
  border:0.36rem double #fff;
  background-color:rgba(0,0,0,0.51);
  box-shadow:0 0 1rem rgba(0,0,0,0.219);
  animation:overlay-modal-modal-enter 0.28s ease-out forwards;
}
.overlay-modal .modal > .content{
  font-size:1.2rem;
  font-weight:600;
  margin:1rem 0;
  text-stroke:0.5px rgba(255,255,255,0.87);
  -webkit-text-stroke:0.5px rgba(255,255,255,0.87);
}
.overlay-modal.is-leaving .backdrop{
  animation:overlay-modal-backdrop-fading-out 0.3s ease-out forwards;
}
.overlay-modal.is-leaving .modal{
  animation-name:overlay-modal-modal-leave;
}
.overlay-modal .title{
  font-size:2rem;
  font-weight:600;
  letter-spacing:0.1em;
  margin:1.5rem 0 0 0;
  text-stroke:1px #fff;
  -webkit-text-stroke:1px #fff;
}
.overlay-modal .count-down{
  font-size:1rem;
  height:2em;
  font-weight:400;
  margin:0 0 1rem 0;
  color:#fff;
  display:flex;
  justify-content:space-around;
  align-items:center;
}
.overlay-modal .count-down .count-down-tip{
  margin-left:0;
  margin-right:0.5em;
}
.overlay-modal .count-down .count-down-number{
  font-size:150%;
  width:1em;
  padding:0;
  text-align:center;
}
.overlay-modal .modal:not(.huge) .content p{
  line-height:1.6;
  margin:0.2em;
}
.overlay-modal .modal.huge{
  box-sizing:border-box;
  width:900px;
  height:750px;
  padding:1rem 0.5rem;
  border-radius:0.5rem;
  border:0.3rem solid #000;
  background-color:#fff;
  box-shadow:0 0 0 0.3rem #fff;
  -webkit-backdrop-filter:none;
  backdrop-filter:none;
}
.overlay-modal .modal.huge .title{
  font-size:1.6rem;
  font-weight:500;
  letter-spacing:0.1em;
  text-stroke:0;
  -webkit-text-stroke:0;
  margin:0.5rem auto;
}
.overlay-modal .modal.huge > .content{
  overflow:auto;
  padding:0.25rem 1rem 2.75rem 1rem;
  margin:0.5rem auto;
  font-size:0.9rem;
  font-weight:normal;
  text-stroke:0;
  -webkit-text-stroke:0;
}
.overlay-modal.is-leaving .modal.huge{
  animation-name:overlay-modal-huge-modal-leave;
}
@-moz-keyframes overlay-modal-backdrop-fading-out{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@-webkit-keyframes overlay-modal-backdrop-fading-out{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@-o-keyframes overlay-modal-backdrop-fading-out{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@keyframes overlay-modal-backdrop-fading-out{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@-moz-keyframes overlay-modal-modal-enter{
  0%{
    opacity:0;
    transform:scale(0.1);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
@-webkit-keyframes overlay-modal-modal-enter{
  0%{
    opacity:0;
    transform:scale(0.1);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
@-o-keyframes overlay-modal-modal-enter{
  0%{
    opacity:0;
    transform:scale(0.1);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
@keyframes overlay-modal-modal-enter{
  0%{
    opacity:0;
    transform:scale(0.1);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
@-moz-keyframes overlay-modal-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@-webkit-keyframes overlay-modal-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@-o-keyframes overlay-modal-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@keyframes overlay-modal-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@-moz-keyframes overlay-modal-huge-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  67%{
    opacity:0.7;
    transform:scale(0.79);
  }
  100%{
    opacity:0;
    transform:translateY(-102%);
  }
}
@-webkit-keyframes overlay-modal-huge-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  67%{
    opacity:0.7;
    transform:scale(0.79);
  }
  100%{
    opacity:0;
    transform:translateY(-102%);
  }
}
@-o-keyframes overlay-modal-huge-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  67%{
    opacity:0.7;
    transform:scale(0.79);
  }
  100%{
    opacity:0;
    transform:translateY(-102%);
  }
}
@keyframes overlay-modal-huge-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  67%{
    opacity:0.7;
    transform:scale(0.79);
  }
  100%{
    opacity:0;
    transform:translateY(-102%);
  }
}
.role,
.role .locator,
.role .role-looks,
.role-candidate{
  position:absolute;
}
.role-looks,
.role-candidate{
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
.overlay-modal.game-intro .modal .content{
  padding-bottom:2rem;
}
.overlay-modal.game-over-announcement .modal{
  padding:1rem 1rem;
  width:25rem;
  height:14rem;
}
.overlay-modal.game-over-announcement .modal .content{
  text-align:center;
}
.role-picking-screen{
  background-image:linear-gradient(to right, rgba(0,0,0,0.9) 30%, transparent 44%, transparent 56%, rgba(0,0,0,0.9) 70%), url("../images/game-ui/挑选角色阶段的背景.webp");
  background-size:cover;
  background-position:center;
}
.role-picking-screen.leaving{
  animation:fighters-picking-screen-leaving 0.3s ease-in;
}
@-moz-keyframes fighters-picking-screen-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
@-webkit-keyframes fighters-picking-screen-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
@-o-keyframes fighters-picking-screen-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
@keyframes fighters-picking-screen-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
.role-candidates-slot{
  width:25rem;
  height:25rem;
  position:absolute;
  top:32%;
  margin-top:-12.5rem;
  margin-left:100px;
  margin-right:100px;
}
.role-candidates-slot.player-1{
  left:1rem;
}
.role-candidates-slot.player-2{
  right:1rem;
}
.role-candidates-slot.fighter-has-decided .keyboard-tip-container{
  opacity:0.05;
}
.role-candidates-slot .keyboard-tips{
  z-index:319;
  position:absolute;
  top:100%;
  bottom:-1.5rem;
  left:0;
  right:0;
}
.role-candidates-slot.should-auto-roll-candidates .keyboard-tip-container.pick-prev-candidate,
.role-candidates-slot.should-auto-roll-candidates .keyboard-tip-container.pick-next-candidate{
  display:none;
}
.role-candidates-slot .keyboard-tip-container{
  font-size:1.1rem;
  position:absolute;
  top:auto;
}
.role-candidates-slot .keyboard-tip-container.decision-maker{
  bottom:0;
  left:50%;
  margin-left:0;
  margin-right:0;
  transform:translateX(-50%);
}
.role-candidates-slot .keyboard-tip-container.pick-prev-candidate,
.role-candidates-slot .keyboard-tip-container.pick-next-candidate{
  bottom:100%;
  margin:0 20%;
}
.role-candidates-slot .keyboard-tip-container.pick-prev-candidate{
  left:0;
}
.role-candidates-slot .keyboard-tip-container.pick-next-candidate{
  left:auto;
  right:0;
}
.role-candidates-slot .role-candidate{
  left:0;
  width:100%;
  height:100%;
}
.role-candidates-slot .role-candidate .fighter-name{
  position:absolute;
  z-index:20;
  left:50%;
  top:2rem;
  width:auto;
  border-radius:0.4rem;
  margin:0;
  transform:translateX(-50%);
  font-size:1.5rem;
  letter-spacing:0.2em;
  font-weight:600;
  padding:0.3em 0.7em 0.4em;
  color:#fff;
  border:0.1rem solid #fff;
  background-color:rgba(0,0,0,0.8);
}
.role-candidates-slot .role-candidate .role-looks{
  z-index:0;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.role-candidates-slot .role-candidate .specs{
  z-index:10;
  position:absolute;
  top:100%;
  margin:1rem auto;
  width:auto;
}
.role-candidates-slot .role-candidate .spec{
  position:relative;
  width:100%;
  margin:1.8rem auto;
}
.role-candidates-slot .role-candidate .spec .spec-label{
  position:absolute;
  top:-1rem;
  bottom:-1rem;
  margin:auto -2rem;
  font-size:1rem;
  width:1.5rem;
  height:1.5rem;
  line-height:1.45rem;
  color:#fff;
}
.role-candidates-slot .role-candidate .spec .spec-value{
  position:absolute;
  margin:auto 4px;
  font-size:0.9rem;
  line-height:1.2;
  color:#fff;
}
.role-candidates-slot .role-candidate .spec .spec-ratio-bar{
  box-sizing:border-box;
  display:flex;
  width:100%;
  padding:3px;
  border:2px solid rgba(255,255,255,0.319);
  border-radius:5px;
  background-color:rgba(0,0,0,0.51);
}
.role-candidates-slot .role-candidate .spec .spec-ratio-bar-scale{
  height:0.5rem;
  border-radius:2px;
}
.role-candidates-slot .role-candidate .spec.hp .spec-ratio-bar-scale{
  background-color:#f44;
}
.role-candidates-slot .role-candidate .spec.ap .spec-ratio-bar-scale{
  background-color:#4f5;
}
.role-candidates-slot .role-candidate .spec.dp .spec-ratio-bar-scale{
  background-color:#45f;
}
.player-1 .role-candidate .specs{
  left:22%;
  right:22%;
}
.player-1 .role-candidate .spec-ratio-bar{
  justify-content:flex-start;
}
.player-1 .role-candidate .spec-value,
.player-1 .role-candidate .spec-label{
  left:0;
}
.player-2 .role-candidate .role-looks{
  transform:scaleX(-1);
  -webkit-filter:hue-rotate(120deg);
  filter:hue-rotate(120deg);
}
.player-2 .role-candidate .specs{
  left:22%;
  right:22%;
}
.player-2 .role-candidate .spec-ratio-bar{
  justify-content:flex-end;
}
.player-2 .role-candidate .spec-value,
.player-2 .role-candidate .spec-label{
  right:0;
}
.fighting-stage{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
.game-round{
  --fighter-visual-box-width:30rem;
  --fighter-visual-box-height:30rem;
}
.fighters-popups,
.fighters{
  margin-top:7rem;
  top:calc(var(--fighter-visual-box-height));
  bottom:0.5rem;
}
.fighters-popups,
.fighters,
.fighters-popups .role,
.fighters .role{
  position:absolute;
  left:0;
  right:0;
  width:auto;
  height:auto;
  overflow:visible;
}
.role{
  top:auto;
  bottom:0;
}
.role{
  z-index:5;
}
.role.is-attacking{
  z-index:6;
}
.role.has-won{
  z-index:20;
}
.role .locator,
.role .popups,
.role .effects,
.role .role-looks{
  position:absolute;
  top:auto;
  width:0;
  height:0;
  overflow:visible;
}
.role .locator{
  bottom:4.5rem;
  transition-property:top right bottom left transform;
  transition-timing-function:ease;
  transition-duration:0.15s;
}
.role .popups{
  z-index:100;
  left:calc(var(--fighter-visual-box-width) / -4);
  bottom:0;
}
.role .popups *{
  pointer-events:none;
}
.role .effects,
.role .role-looks{
  width:var(--fighter-visual-box-width);
  height:var(--fighter-visual-box-height);
  right:auto;
  bottom:0;
}
.role .role-looks{
  left:calc(var(--fighter-visual-box-width) / -2);
  right:auto;
  bottom:0;
}
.role.should-face-leftwards .role-looks{
  transform:scaleX(-1);
}
.role .effects{
  left:0;
}
.role .effects.is-defencing{
  --effect-of-defencing-color-1:rgba(102,34,204,0.467);
  --effect-of-defencing-color-2:rgba(170,136,238,0.333);
}
.role .effects.is-defencing::before,
.role .effects.is-defencing::after{
  content:'';
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius:50%;
  animation-duration:1.5s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  animation-fill-mode:both;
  box-shadow:inset 0 0 1rem var(--effect-of-defencing-color-1);
}
.role .effects.is-defencing::before{
  margin:25%;
  animation-name:fighter-defencing-effects-1;
}
@-moz-keyframes fighter-defencing-effects-1{
  0%, 35%{
    opacity:0;
    margin:30%;
    background-color:var(--effect-of-defencing-color-1);
    box-shadow:inset 0 0 1.2rem 0 var(--effect-of-defencing-color-1);
  }
  51%, 81%{
    opacity:1;
  }
  96%, 100%{
    background-color:transparent;
    box-shadow:inset 0 0 1.8rem 0 var(--effect-of-defencing-color-2);
    margin:5%;
    opacity:0;
  }
}
@-webkit-keyframes fighter-defencing-effects-1{
  0%, 35%{
    opacity:0;
    margin:30%;
    background-color:var(--effect-of-defencing-color-1);
    box-shadow:inset 0 0 1.2rem 0 var(--effect-of-defencing-color-1);
  }
  51%, 81%{
    opacity:1;
  }
  96%, 100%{
    background-color:transparent;
    box-shadow:inset 0 0 1.8rem 0 var(--effect-of-defencing-color-2);
    margin:5%;
    opacity:0;
  }
}
@-o-keyframes fighter-defencing-effects-1{
  0%, 35%{
    opacity:0;
    margin:30%;
    background-color:var(--effect-of-defencing-color-1);
    box-shadow:inset 0 0 1.2rem 0 var(--effect-of-defencing-color-1);
  }
  51%, 81%{
    opacity:1;
  }
  96%, 100%{
    background-color:transparent;
    box-shadow:inset 0 0 1.8rem 0 var(--effect-of-defencing-color-2);
    margin:5%;
    opacity:0;
  }
}
@keyframes fighter-defencing-effects-1{
  0%, 35%{
    opacity:0;
    margin:30%;
    background-color:var(--effect-of-defencing-color-1);
    box-shadow:inset 0 0 1.2rem 0 var(--effect-of-defencing-color-1);
  }
  51%, 81%{
    opacity:1;
  }
  96%, 100%{
    background-color:transparent;
    box-shadow:inset 0 0 1.8rem 0 var(--effect-of-defencing-color-2);
    margin:5%;
    opacity:0;
  }
}
.role .effects.is-defencing::after{
  margin:21%;
  animation-name:fighter-defencing-effects-2;
}
@-moz-keyframes fighter-defencing-effects-2{
  0%{
    opacity:0;
    margin:30%;
    background-color:var(--effect-of-defencing-color-1);
    box-shadow:inset 0 0 1.2rem 0 var(--effect-of-defencing-color-1);
  }
  16%, 49%{
    opacity:1;
  }
  61%, 100%{
    background-color:transparent;
    box-shadow:inset 0 0 1.8rem 0 var(--effect-of-defencing-color-2);
    margin:5%;
    opacity:0;
  }
}
@-webkit-keyframes fighter-defencing-effects-2{
  0%{
    opacity:0;
    margin:30%;
    background-color:var(--effect-of-defencing-color-1);
    box-shadow:inset 0 0 1.2rem 0 var(--effect-of-defencing-color-1);
  }
  16%, 49%{
    opacity:1;
  }
  61%, 100%{
    background-color:transparent;
    box-shadow:inset 0 0 1.8rem 0 var(--effect-of-defencing-color-2);
    margin:5%;
    opacity:0;
  }
}
@-o-keyframes fighter-defencing-effects-2{
  0%{
    opacity:0;
    margin:30%;
    background-color:var(--effect-of-defencing-color-1);
    box-shadow:inset 0 0 1.2rem 0 var(--effect-of-defencing-color-1);
  }
  16%, 49%{
    opacity:1;
  }
  61%, 100%{
    background-color:transparent;
    box-shadow:inset 0 0 1.8rem 0 var(--effect-of-defencing-color-2);
    margin:5%;
    opacity:0;
  }
}
@keyframes fighter-defencing-effects-2{
  0%{
    opacity:0;
    margin:30%;
    background-color:var(--effect-of-defencing-color-1);
    box-shadow:inset 0 0 1.2rem 0 var(--effect-of-defencing-color-1);
  }
  16%, 49%{
    opacity:1;
  }
  61%, 100%{
    background-color:transparent;
    box-shadow:inset 0 0 1.8rem 0 var(--effect-of-defencing-color-2);
    margin:5%;
    opacity:0;
  }
}
.role .keyboard-tips{
  font-size:1rem;
  position:absolute;
  bottom:0;
  width:13em;
  margin:0 2rem;
  display:flex;
  flex-wrap:nowrap;
  justify-content:space-between;
  opacity:1;
  transition:opaciy 0.3s ease-out;
}
.role.has-lost .role-looks{
  opacity:0.6;
  -webkit-filter:grayscale(0.8);
  filter:grayscale(0.8);
}
.role.has-lost .keyboard-tips{
  opacity:0.1;
}
.role.has-won .keyboard-tips{
  opacity:0.1;
}
.role .auto-disappear-popup{
  position:absolute;
  width:20rem;
  height:0;
  overflow:visible;
  animation-name:fighter-auto-disappear-popup-default;
  animation-timing-function:ease-in-out;
  animation-fill-mode:both;
}
.role .auto-disappear-popup .content{
  transform:translateX(-50%);
}
.role .auto-disappear-popup.health-point-decrease{
  z-index:3;
  animation-duration:1s;
}
.role .auto-disappear-popup.health-point-decrease .content{
  display:inline-block;
  font-size:1.2rem;
  padding:0.25em 1em;
  line-height:1.3;
  border-radius:0.5rem;
  border:0.25rem double #fff;
  color:#fff;
  background-color:rgba(255,0,0,0.75);
}
.role .auto-disappear-popup.health-point-decrease.is-for-accum-attacks{
  animation-name:fighter-auto-disappear-popup-words;
  animation-duration:4.5s;
}
.role .auto-disappear-popup.health-point-decrease.is-for-accum-attacks .content{
  border-color:#e99;
  background-color:rgba(119,17,17,0.9);
}
.role .auto-disappear-popup.words{
  z-index:19;
  width:19rem;
  animation-name:fighter-auto-disappear-popup-words;
  animation-duration:4.5s;
}
.role .auto-disappear-popup.words .content,
.role .auto-disappear-popup.words .player-id{
  box-shadow:0 0 0.6rem rgba(0,0,0,0.79);
}
.role .auto-disappear-popup.words .content{
  font-size:1rem;
  display:inline-block;
  position:relative;
  padding-top:0.5em;
  padding-bottom:0.5em;
  line-height:1.33;
  text-align:center;
  border-radius:0.5rem;
  border:0.39rem double #000;
  color:#000;
  background-color:#fff;
}
.role .auto-disappear-popup.words .player-id,
.role .auto-disappear-popup.words .avatar{
  position:absolute;
  margin:auto;
}
.role .auto-disappear-popup.words .player-id{
  z-index:2;
  font-size:1.2rem;
  width:3.2rem;
  height:2.33rem;
  line-height:2.33rem;
  top:-0.4rem;
  border:0.4rem double transparent;
}
.role .auto-disappear-popup.words .avatar{
  z-index:4;
  height:3.6rem;
  width:3.6rem;
  top:-0.9rem;
  border-radius:50%;
  border:0.15rem solid #fff;
  background-color:#fff;
  box-shadow:inset 0 0 0.2rem rgba(0,0,0,0.219), 0 0 0.5rem 0 rgba(0,0,0,0.51);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}
.role .auto-disappear-popup.words.opening-words,
.role .auto-disappear-popup.words.winning-words,
.role .auto-disappear-popup.words.last-words{
  z-index:30;
  left:calc(var(--fighter-visual-box-width) * 0.25);
  width:var(--fighter-visual-box-width);
}
.role .auto-disappear-popup.words.winning-words,
.role .auto-disappear-popup.words.last-words{
  animation-name:fighter-auto-disappear-popup-ending-words;
  animation-duration:10s;
}
.role .auto-disappear-popup.words.opening-words{
  bottom:calc(var(--fighter-visual-box-height) * 0.87);
}
.role .auto-disappear-popup.words.opening-words .content{
  color:#000;
  border-color:#342c19;
  background-color:#9cf;
}
.role .auto-disappear-popup.words.winning-words{
  bottom:calc(var(--fighter-visual-box-height) * 0.87);
}
.role .auto-disappear-popup.words.winning-words .content{
  color:#000;
  border-color:#342c19;
  background-color:#fc6;
}
.role .auto-disappear-popup.words.last-words{
  bottom:calc(var(--fighter-visual-box-height) * 0.45);
}
.role .auto-disappear-popup.words.last-words .content{
  color:#fff;
  border-color:#512;
  background-color:#a23;
}
@-moz-keyframes fighter-auto-disappear-popup-default{
  0%{
    opacity:0;
    transform:translateY(2rem);
  }
  30%, 75%{
    opacity:1;
  }
  45%, 75%{
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-3.8rem);
  }
}
@-webkit-keyframes fighter-auto-disappear-popup-default{
  0%{
    opacity:0;
    transform:translateY(2rem);
  }
  30%, 75%{
    opacity:1;
  }
  45%, 75%{
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-3.8rem);
  }
}
@-o-keyframes fighter-auto-disappear-popup-default{
  0%{
    opacity:0;
    transform:translateY(2rem);
  }
  30%, 75%{
    opacity:1;
  }
  45%, 75%{
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-3.8rem);
  }
}
@keyframes fighter-auto-disappear-popup-default{
  0%{
    opacity:0;
    transform:translateY(2rem);
  }
  30%, 75%{
    opacity:1;
  }
  45%, 75%{
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-3.8rem);
  }
}
@-moz-keyframes fighter-auto-disappear-popup-words{
  0%{
    opacity:0;
    transform:translateY(2rem);
  }
  7%, 92%{
    opacity:1;
  }
  9%, 94%{
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-5.1rem);
  }
}
@-webkit-keyframes fighter-auto-disappear-popup-words{
  0%{
    opacity:0;
    transform:translateY(2rem);
  }
  7%, 92%{
    opacity:1;
  }
  9%, 94%{
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-5.1rem);
  }
}
@-o-keyframes fighter-auto-disappear-popup-words{
  0%{
    opacity:0;
    transform:translateY(2rem);
  }
  7%, 92%{
    opacity:1;
  }
  9%, 94%{
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-5.1rem);
  }
}
@keyframes fighter-auto-disappear-popup-words{
  0%{
    opacity:0;
    transform:translateY(2rem);
  }
  7%, 92%{
    opacity:1;
  }
  9%, 94%{
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-5.1rem);
  }
}
@-moz-keyframes fighter-auto-disappear-popup-ending-words{
  0%{
    opacity:0;
    transform:translateY(2rem);
  }
  3%, 96%{
    opacity:1;
  }
  5%, 97.5%{
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-5.1rem);
  }
}
@-webkit-keyframes fighter-auto-disappear-popup-ending-words{
  0%{
    opacity:0;
    transform:translateY(2rem);
  }
  3%, 96%{
    opacity:1;
  }
  5%, 97.5%{
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-5.1rem);
  }
}
@-o-keyframes fighter-auto-disappear-popup-ending-words{
  0%{
    opacity:0;
    transform:translateY(2rem);
  }
  3%, 96%{
    opacity:1;
  }
  5%, 97.5%{
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-5.1rem);
  }
}
@keyframes fighter-auto-disappear-popup-ending-words{
  0%{
    opacity:0;
    transform:translateY(2rem);
  }
  3%, 96%{
    opacity:1;
  }
  5%, 97.5%{
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-5.1rem);
  }
}
.role.player-1 .keyboard-tips{
  left:0;
  right:auto;
}
.role.player-1 .words .content{
  padding-left:2em;
  padding-right:0.5em;
}
.role.player-1 .words:not(.winning-words):not(.last-words):not(.opening-words) .content{
  color:#fff;
  border-color:currentColor;
  background-color:#000;
}
.role.player-1 .words .avatar{
  left:-2.7rem;
  right:auto;
}
.role.player-1 .words .player-id{
  left:-4.800000000000001rem;
  text-align:left;
  padding:0 0 0 0.6rem;
  border-radius:0.6rem 0 0 0.6rem;
  color:#fff;
  border-color:currentColor;
  background-color:#911;
}
.role.player-2 .role-looks{
  -webkit-filter:hue-rotate(120deg);
  filter:hue-rotate(120deg);
}
.role.player-2.has-lost .role-looks{
  opacity:0.6;
  -webkit-filter:hue-rotate(120deg) grayscale(0.8);
  filter:hue-rotate(120deg) grayscale(0.8);
}
.role.player-2 .keyboard-tips{
  left:auto;
  right:0;
}
.role.player-2 .words .avatar{
  transform:scaleX(-1);
  -webkit-filter:hue-rotate(120deg);
  filter:hue-rotate(120deg);
}
.role.player-2 .words .content{
  padding-left:0.5em;
  padding-right:2em;
}
.role.player-2 .words:not(.winning-words):not(.last-words):not(.opening-words) .content{
  color:#000;
  border-color:currentColor;
  background-color:#fff;
}
.role.player-2 .words .avatar{
  right:-2.7rem;
  left:auto;
}
.role.player-2 .words .player-id{
  right:-4.800000000000001rem;
  text-align:right;
  padding:0 0.6rem 0 0;
  border-radius:0 0.6rem 0.6rem 0;
  color:#fff;
  border-color:currentColor;
  background-color:#191;
}
.game-round-status-block{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:7rem;
  display:flex;
  align-items:center;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
}
.game-round-status-block .icon-versus{
  flex-grow:0;
  flex-shrink:0;
  width:5rem;
  height:5rem;
  margin:1rem;
  border-radius:0%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-image:url("../images/game-ui/vs.png");
}
.role-status-bar{
  position:relative;
  flex-grow:1;
  flex-shrink:1;
  height:5rem;
  padding:0;
  margin:auto 1rem;
}
.role-status-bar .fighter-avatar,
.role-status-bar .fighter-name,
.role-status-bar .player-id,
.role-status-bar .hp-bar-container{
  position:absolute;
  margin:auto;
}
.role-status-bar .fighter-avatar,
.role-status-bar .player-id,
.role-status-bar .hp-bar-container{
  top:0;
  bottom:0;
}
.role-status-bar .fighter-avatar{
  box-sizing:border-box;
  width:4rem;
  height:4rem;
  z-index:10;
  background-color:#ccc;
  border-radius:50%;
  border:0.15rem solid #fff;
  box-shadow:inset 0 0 0.3rem #000;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  box-shadow:0 0 0.4rem rgba(0,0,0,0.51);
}
.role-status-bar .fighter-avatar.role-candidate-001{
  background-image:url("../images/game-roles/role-001/fighter-.png");
}
.role-status-bar .fighter-avatar.role-candidate-002{
  background-image:url("../images/game-roles/role-002/fighter-.png");
}
.role-status-bar .player-id,
.role-status-bar .hp-bar-container{
  box-sizing:border-box;
}
.role-status-bar .fighter-name{
  padding:0.25em 1em;
  font-size:1rem;
  color:#fff;
  font-weight:600;
  letter-spacing:0.1em;
  border-radius:0 0 0.2rem 0.2rem;
  background-color:rgba(0,0,0,0.79);
  top:4rem;
}
.role-status-bar .player-id{
  font-size:1.5rem;
  border:0.4rem double #fff;
  display:flex;
  width:3.8rem;
  height:3.2rem;
  justify-content:center;
  align-items:center;
  text-shadow:0 0 0.15rem rgba(0,0,0,0.79);
}
.role-status-bar .hp-bar-container{
  height:3rem;
  border:1px solid #fff;
  backdrop-filter:blur(20px);
  box-shadow:0 0.25rem 0.25rem 0 rgba(0,0,0,0.16);
}
.role-status-bar .hp-bar-container .hp-bar{
  margin:0.2rem;
  overflow:hidden;
  position:absolute;
  top:0;
  bottom:0;
  border-radius:0.2rem;
  background-color:rgba(0,0,0,0.06);
  box-shadow:inset 0 0 0.2rem 0 rgba(0,0,0,0.15);
}
.role-status-bar .hp-bar-container .hp{
  width:100%;
  height:100%;
  opacity:1;
  transition-property:background-color, width, opacity;
  transition-duration:0.5s;
  transition-timing-function:ease-out;
  background-image:linear-gradient(79deg, transparent, rgba(255,255,255,0.5) 40% 60%, transparent);
}
.role-status-bar .hp-bar-container .hp.role-is-healthy{
  background-color:#adff2f;
}
.role-status-bar .hp-bar-container .hp.role-is-wounded{
  background-color:#ffd35b;
}
.role-status-bar .hp-bar-container .hp.role-is-dying{
  background-color:#911;
  background-image:linear-gradient(15deg, transparent, rgba(255,255,255,0.15) 35% 65%, transparent);
}
.role-status-bar .fighter-avatar,
.role-status-bar .fighter-name,
.role-status-bar .player-id{
  position:absolute;
  margin:auto;
}
.role-status-bar.player-1 .player-id{
  left:1rem;
  padding-right:0.9rem;
  border-radius:0.4rem 0 0 0.4rem;
  color:#fff;
  background-color:#911;
}
.role-status-bar.player-1 .hp-bar-container{
  border-radius:0 0.4rem 0.4rem 0;
  left:6.5rem;
  right:0;
}
.role-status-bar.player-1 .hp-bar-container .hp-bar{
  left:1rem;
  right:0;
}
.role-status-bar.player-1 .fighter-avatar{
  left:3.3rem;
}
.role-status-bar.player-1 .fighter-name{
  left:6rem;
}
.role-status-bar.player-2 .player-id{
  right:1rem;
  padding-left:0.9rem;
  border-radius:0 0.4rem 0.4rem 0;
  color:#fff;
  background-color:#191;
}
.role-status-bar.player-2 .hp-bar-container .hp-bar,
.role-status-bar.player-2 .fighter-avatar{
  transform:scaleX(-1);
}
.role-status-bar.player-2 .hp-bar-container{
  border-radius:0.4rem 0 0 0.4rem;
  left:0;
  right:6.5rem;
}
.role-status-bar.player-2 .hp-bar-container .hp-bar{
  left:0;
  right:1rem;
}
.role-status-bar.player-2 .fighter-avatar{
  right:3.3rem;
  -webkit-filter:hue-rotate(120deg);
  filter:hue-rotate(120deg);
}
.role-status-bar.player-2 .fighter-name{
  right:6rem;
}
.game-rounds{
  position:static;
}
.game-round{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.game-round.entering{
  animation:game-round-entering 0.4s ease-out;
}
@-moz-keyframes game-round-entering{
  0%{
    transform:translateY(-110%) scale(0.79);
    opacity:0;
  }
  to{
    transform:none;
    opacity:1;
  }
}
@-webkit-keyframes game-round-entering{
  0%{
    transform:translateY(-110%) scale(0.79);
    opacity:0;
  }
  to{
    transform:none;
    opacity:1;
  }
}
@-o-keyframes game-round-entering{
  0%{
    transform:translateY(-110%) scale(0.79);
    opacity:0;
  }
  to{
    transform:none;
    opacity:1;
  }
}
@keyframes game-round-entering{
  0%{
    transform:translateY(-110%) scale(0.79);
    opacity:0;
  }
  to{
    transform:none;
    opacity:1;
  }
}
.game-round.leaving{
  animation:game-round-leaving 0.4s ease-in;
}
@-moz-keyframes game-round-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
@-webkit-keyframes game-round-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
@-o-keyframes game-round-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
@keyframes game-round-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
.game-round.is-over .keyboard-hints{
  opacity:0.05;
}
.game-round .fighting-stage{
  z-index:0;
}
.game-round .fighters{
  z-index:10;
}
.game-round .game-round-status-block{
  z-index:90;
}
.game-round .fighters-popups{
  z-index:120;
}
.game-round .keyboard-hints{
  z-index:200;
}
.game-round .keyboard-hints{
  position:absolute;
  top:auto;
  bottom:0.5rem;
  left:0;
  right:0;
  width:0;
  height:0;
  margin:auto;
}
.game-round .keyboard-hints .keyboard-tip-container{
  position:absolute;
  width:4rem;
  bottom:0;
  margin-left:-2rem;
}
.game-round .overlay-modal.game-round-result-announcement .modal{
  width:25rem;
}
.game-preferences-panel{
  display:block;
}
.author-wishes{
  color:#fff;
  background-color:#000;
  display:flex;
  justify-content:center;
  align-items:center;
}
.author-wishes article{
  text-align:center;
  font-size:1.2rem;
  font-weight:500;
  letter-spacing:0.2em;
  padding:1em 1em 4em 1em;
}
.author-wishes .last-run-game-summary{
  margin-bottom:2em;
  font-size:80%;
  font-weight:bolder;
  color:#515151;
}
.author-wishes .last-run-game-summary .game-duration{
  color:#face79;
}
html{
  font-size:20px;
}
body{
  margin:0;
}
html,
body{
  height:100%;
}
.author-wishes,
.app{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
  width:auto;
  height:auto;
  overflow:hidden;
}
.app{
  z-index:2;
}
.author-wishes{
  z-index:1;
}
.app{
  background-color:#000;
}
.app .game{
  z-index:10;
}
.app .game-preferences-panel{
  z-index:20;
}
