.ui-screen{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
  width:auto;
  height:auto;
}
.ui-screen .count-down-overlay{
  z-index:900;
}
.count-down-overlay{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
  width:auto;
  height:auto;
}
.count-down-overlay .modal,
.count-down-overlay .backdrop{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  padding:0;
}
.count-down-overlay .backdrop{
  z-index:0;
  width:auto;
  height:auto;
  background-color:#000;
  animation:count-down-overlay-backdrop-fading-out 3.2s ease-out forwards;
}
@-moz-keyframes count-down-overlay-backdrop-fading-out{
  0%, 30%{
    opacity:0.9;
  }
  36%, 63%{
    opacity:0.6;
  }
  69%, 96%{
    opacity:0.3;
  }
  100%{
    opacity:0;
  }
}
@-webkit-keyframes count-down-overlay-backdrop-fading-out{
  0%, 30%{
    opacity:0.9;
  }
  36%, 63%{
    opacity:0.6;
  }
  69%, 96%{
    opacity:0.3;
  }
  100%{
    opacity:0;
  }
}
@-o-keyframes count-down-overlay-backdrop-fading-out{
  0%, 30%{
    opacity:0.9;
  }
  36%, 63%{
    opacity:0.6;
  }
  69%, 96%{
    opacity:0.3;
  }
  100%{
    opacity:0;
  }
}
@keyframes count-down-overlay-backdrop-fading-out{
  0%, 30%{
    opacity:0.9;
  }
  36%, 63%{
    opacity:0.6;
  }
  69%, 96%{
    opacity:0.3;
  }
  100%{
    opacity:0;
  }
}
.count-down-overlay .modal{
  z-index:20;
  width:18rem;
  height:10rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border-radius:1rem;
  color:#000;
  border:0.36rem double #fff;
  background-color:rgba(0,0,0,0.51);
  box-shadow:0 0 1rem rgba(0,0,0,0.219);
  animation:count-down-overlay-modal-enter 0.28s ease-out forwards;
}
.count-down-overlay.is-leaving .modal{
  animation-name:count-down-overlay-modal-leave;
}
.count-down-overlay .info{
  font-size:2rem;
  font-weight:600;
  letter-spacing:0.1em;
  margin-top:1rem;
  text-stroke:1px #fff;
  -webkit-text-stroke:1px #fff;
}
.count-down-overlay .digit{
  font-size:4.5rem;
  font-weight:600;
  margin-bottom:0.8rem;
  text-stroke:2px #fff;
  -webkit-text-stroke:2px #fff;
}
@-moz-keyframes count-down-overlay-modal-enter{
  0%{
    opacity:0;
    transform:scale(0.1);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
@-webkit-keyframes count-down-overlay-modal-enter{
  0%{
    opacity:0;
    transform:scale(0.1);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
@-o-keyframes count-down-overlay-modal-enter{
  0%{
    opacity:0;
    transform:scale(0.1);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
@keyframes count-down-overlay-modal-enter{
  0%{
    opacity:0;
    transform:scale(0.1);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
@-moz-keyframes count-down-overlay-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@-webkit-keyframes count-down-overlay-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@-o-keyframes count-down-overlay-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@keyframes count-down-overlay-modal-leave{
  0%{
    opacity:1;
    transform:none;
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
.keyboard-tip{
  box-sizing:content-box;
  text-align:center;
  border:0.4rem double #000;
  background-color:#fff;
  position:absolute;
}
.role,
.role .locator,
.role .role-looks,
.role-candidate{
  position:absolute;
}
.role-looks,
.role-candidate{
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
.player-2 .role-looks{
  transform:scaleX(-1);
}
.role-picking-screen{
  background-image:linear-gradient(to right, rgba(0,0,0,0.9) 30%, transparent 44%, transparent 56%, rgba(0,0,0,0.9) 70%), url("../images/game-ui/挑选角色阶段的背景.webp");
  background-size:cover;
  background-position:center;
}
.role-picking-screen.leaving{
  animation:fighters-picking-screen-leaving 0.3s ease-in;
}
@-moz-keyframes fighters-picking-screen-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
@-webkit-keyframes fighters-picking-screen-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
@-o-keyframes fighters-picking-screen-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
@keyframes fighters-picking-screen-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
.role-candidates-slot{
  width:25rem;
  height:25rem;
  position:absolute;
  top:32%;
  margin-top:-12.5rem;
  margin-left:100px;
  margin-right:100px;
}
.role-candidates-slot.player-1{
  left:1rem;
}
.role-candidates-slot.player-2{
  right:1rem;
}
.role-candidates-slot.fighter-has-decided .keyboard-tip{
  opacity:0.05;
}
.role-candidates-slot .keyboard-tip{
  z-index:319;
  font-size:2rem;
  width:2.5rem;
  height:2.5rem;
  line-height:2.375rem;
  border-radius:0.75rem;
  opacity:1;
  transition:opacity 0.2s ease-out;
  margin:-1.25rem -1.25rem;
}
.role-candidates-slot .keyboard-tip.decision-maker{
  top:auto;
  bottom:0;
  left:50%;
  margin-left:0;
  margin-right:0;
  transform:translateX(-50%);
}
.role-candidates-slot .keyboard-tip.pick-prev-candidate,
.role-candidates-slot .keyboard-tip.pick-next-candidate{
  top:80%;
}
.role-candidates-slot .keyboard-tip.pick-prev-candidate{
  left:30%;
}
.role-candidates-slot .keyboard-tip.pick-next-candidate{
  right:30%;
}
.role-candidates-slot .role-candidate{
  left:0;
  width:100%;
  height:100%;
}
.role-candidates-slot .role-candidate .fighter-name{
  position:absolute;
  z-index:20;
  left:50%;
  top:2rem;
  width:auto;
  border-radius:0.4rem;
  margin:0;
  transform:translateX(-50%);
  font-size:1.5rem;
  letter-spacing:0.2em;
  font-weight:600;
  padding:0.3em 0.7em 0.4em;
  color:#fff;
  border:0.1rem solid #fff;
  background-color:rgba(0,0,0,0.8);
}
.role-candidates-slot .role-candidate .role-looks{
  z-index:0;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.role-candidates-slot .role-candidate .specs{
  z-index:10;
  position:absolute;
  top:100%;
  margin:1rem auto;
  width:auto;
}
.role-candidates-slot .role-candidate .spec{
  position:relative;
  width:100%;
  margin:1.8rem auto;
}
.role-candidates-slot .role-candidate .spec .spec-label{
  position:absolute;
  top:-1rem;
  bottom:-1rem;
  margin:auto -2rem;
  font-size:1rem;
  width:1.5rem;
  height:1.5rem;
  line-height:1.33;
  color:#fff;
}
.role-candidates-slot .role-candidate .spec .spec-value{
  position:absolute;
  margin:auto 4px;
  font-size:0.9rem;
  line-height:1.2;
  color:#fff;
}
.role-candidates-slot .role-candidate .spec .spec-ratio-bar{
  box-sizing:border-box;
  display:flex;
  width:100%;
  padding:3px;
  border:2px solid rgba(255,255,255,0.319);
  border-radius:5px;
  background-color:rgba(0,0,0,0.19);
}
.role-candidates-slot .role-candidate .spec .spec-ratio-bar-scale{
  height:0.5rem;
  border-radius:2px;
}
.role-candidates-slot .role-candidate .spec.hp .spec-ratio-bar-scale{
  background-color:#f44;
}
.role-candidates-slot .role-candidate .spec.ap .spec-ratio-bar-scale{
  background-color:#4f5;
}
.role-candidates-slot .role-candidate .spec.dp .spec-ratio-bar-scale{
  background-color:#45f;
}
.player-1 .role-candidate .specs{
  left:22%;
  right:22%;
}
.player-1 .role-candidate .spec-ratio-bar{
  justify-content:flex-start;
}
.player-1 .role-candidate .spec-value,
.player-1 .role-candidate .spec-label{
  left:0;
}
.player-2 .role-candidate .specs{
  left:22%;
  right:22%;
}
.player-2 .role-candidate .spec-ratio-bar{
  justify-content:flex-end;
}
.player-2 .role-candidate .spec-value,
.player-2 .role-candidate .spec-label{
  right:0;
}
.fighting-stage{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
.game-round{
  --fighter-visual-box-width:30rem;
  --fighter-visual-box-height:30rem;
}
.fighters-popups,
.fighters{
  position:absolute;
  left:1rem;
  right:1rem;
  margin-top:7rem;
  top:calc(var(--fighter-visual-box-height));
  bottom:0.5rem;
  overflow:visible;
  width:auto;
  height:auto;
}
.role{
  top:auto;
  bottom:0;
}
.role{
  z-index:5;
}
.role.is-attacking{
  z-index:6;
}
.role .origin,
.role .locator,
.role .popups,
.role .effects,
.role .role-looks{
  position:absolute;
  top:auto;
  width:0;
  height:0;
  overflow:visible;
}
.role .origin{
  bottom:4.5rem;
}
.role .locator,
.role .popups{
  bottom:0;
}
.role .locator{
  transition-property:top right bottom left transform;
  transition-timing-function:ease;
  transition-duration:0.15s;
}
.role .popups{
  z-index:100;
  left:calc(var(--fighter-visual-box-width) / -4);
}
.role .popups *{
  pointer-events:none;
}
.role .effects,
.role .role-looks{
  width:var(--fighter-visual-box-width);
  height:var(--fighter-visual-box-height);
  right:auto;
  bottom:0;
}
.role .role-looks{
  left:calc(var(--fighter-visual-box-width) / -2);
  right:auto;
  bottom:0;
}
.role .effects{
  left:0;
}
.role .effects.is-defencing{
  --effect-of-defencing-color-1:rgba(102,34,204,0.467);
  --effect-of-defencing-color-2:rgba(170,136,238,0.333);
}
.role .effects.is-defencing::before,
.role .effects.is-defencing::after{
  content:'';
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius:50%;
  animation-name:fighter-defencing-effects;
  animation-duration:1.5s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  animation-fill-mode:both;
  box-shadow:inset 0 0 1rem var(--effect-of-defencing-color-1);
}
@-moz-keyframes fighter-defencing-effects{
  0%, 35%{
    opacity:0;
    margin:30%;
    background-color:var(--effect-of-defencing-color-1);
    box-shadow:inset 0 0 1.2rem 0 var(--effect-of-defencing-color-1);
  }
  51%, 81%{
    opacity:1;
  }
  96%, 100%{
    background-color:transparent;
    box-shadow:inset 0 0 1.8rem 0 var(--effect-of-defencing-color-2);
    margin:5%;
    opacity:0;
  }
}
@-webkit-keyframes fighter-defencing-effects{
  0%, 35%{
    opacity:0;
    margin:30%;
    background-color:var(--effect-of-defencing-color-1);
    box-shadow:inset 0 0 1.2rem 0 var(--effect-of-defencing-color-1);
  }
  51%, 81%{
    opacity:1;
  }
  96%, 100%{
    background-color:transparent;
    box-shadow:inset 0 0 1.8rem 0 var(--effect-of-defencing-color-2);
    margin:5%;
    opacity:0;
  }
}
@-o-keyframes fighter-defencing-effects{
  0%, 35%{
    opacity:0;
    margin:30%;
    background-color:var(--effect-of-defencing-color-1);
    box-shadow:inset 0 0 1.2rem 0 var(--effect-of-defencing-color-1);
  }
  51%, 81%{
    opacity:1;
  }
  96%, 100%{
    background-color:transparent;
    box-shadow:inset 0 0 1.8rem 0 var(--effect-of-defencing-color-2);
    margin:5%;
    opacity:0;
  }
}
@keyframes fighter-defencing-effects{
  0%, 35%{
    opacity:0;
    margin:30%;
    background-color:var(--effect-of-defencing-color-1);
    box-shadow:inset 0 0 1.2rem 0 var(--effect-of-defencing-color-1);
  }
  51%, 81%{
    opacity:1;
  }
  96%, 100%{
    background-color:transparent;
    box-shadow:inset 0 0 1.8rem 0 var(--effect-of-defencing-color-2);
    margin:5%;
    opacity:0;
  }
}
.role .effects.is-defencing::before{
  margin:25%;
  animation-delay:0;
}
.role .effects.is-defencing::after{
  margin:21%;
  animation-delay:0.5s;
}
.role .keyboard-tips{
  position:absolute;
  bottom:0;
  width:13rem;
  height:4.4rem;
  display:flex;
  flex-wrap:nowrap;
  justify-content:space-between;
  opacity:1;
  transition:opaciy 0.3s ease-out;
}
.role.has-lost .role-looks{
  opacity:0.6;
  filter:grayscale(0.8);
}
.role.has-lost .keyboard-tips{
  opacity:0.1;
}
.role.has-won .keyboard-tips{
  opacity:0.1;
}
.role .keyboard-tip-container{
  flex:0 0;
  position:relative;
  min-width:3rem;
  height:100%;
}
.role .keyboard-tip,
.role .keyboard-tip-label{
  text-align:center;
  position:absolute;
  margin:0 auto;
  left:0;
  right:0;
}
.role .keyboard-tip-label{
  top:0;
  bottom:auto;
  font-size:0.8rem;
  width:auto;
  height:1.5rem;
  line-height:1.5rem;
  border-radius:0.25rem;
  color:#fff;
  background-color:rgba(0,0,0,0.87);
}
.role .keyboard-tip{
  top:auto;
  bottom:0;
  font-size:1.3rem;
  width:2rem;
  height:2rem;
  line-height:2rem;
  border-radius:0.5rem;
}
.role .auto-disappear-popup{
  position:absolute;
  overflow:visible;
  animation-name:fighter-auto-disappear-popup-default;
  animation-timing-function:ease-in-out;
  animation-fill-mode:both;
}
.role .auto-disappear-popup.health-point-decrease{
  z-index:3;
  animation-duration:1s;
}
.role .auto-disappear-popup.health-point-decrease .content{
  font-size:1.2rem;
  padding:0.25em 1em;
  line-height:1.3;
  border-radius:0.5rem;
  border:0.25rem double #fff;
  color:#fff;
  background-color:rgba(255,0,0,0.79);
}
.role .auto-disappear-popup.words{
  z-index:19;
  text-align:center;
  width:19rem;
  height:2rem;
  animation-name:fighter-auto-disappear-popup-words;
  animation-duration:4.5s;
}
.role .auto-disappear-popup.words .content{
  font-size:1rem;
  display:inline-block;
  position:relative;
  padding:0.5em 0.5em 0.5em 1.9rem;
  line-height:1.33;
  text-align:center;
  border-radius:0.5rem;
  border:0.39rem double #000;
  color:#000;
  background-color:#fff;
}
.role .auto-disappear-popup.words .player-id,
.role .auto-disappear-popup.words .avatar{
  position:absolute;
  margin:auto;
}
.role .auto-disappear-popup.words .player-id{
  z-index:2;
  font-size:1.2rem;
  width:3.2rem;
  height:2.33rem;
  line-height:2.33rem;
  top:-0.4rem;
  left:-4.800000000000001rem;
  text-align:left;
  padding:0 0 0 0.6rem;
  border-radius:0.6rem;
  border:0.4rem double transparent;
}
.role .auto-disappear-popup.words .avatar{
  z-index:4;
  height:3.6rem;
  width:3.6rem;
  top:-0.9rem;
  left:-2.7rem;
  border-radius:50%;
  border:0.15rem solid #fff;
  background-color:#fff;
  box-shadow:inset 0 0 0.2rem rgba(0,0,0,0.219), 0 0 0.5rem 0 rgba(0,0,0,0.51);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}
.role .auto-disappear-popup.words.winning-words,
.role .auto-disappear-popup.words.last-words{
  z-index:30;
  left:calc(var(--fighter-visual-box-height) * -0.25);
  width:var(--fighter-visual-box-width);
  animation-name:fighter-auto-disappear-popup-ending-words;
  animation-duration:10s;
}
.role .auto-disappear-popup.words.winning-words .content,
.role .auto-disappear-popup.words.last-words .content,
.role .auto-disappear-popup.words.winning-words .content .player-id,
.role .auto-disappear-popup.words.last-words .content .player-id{
  box-shadow:0 0 0.6rem rgba(0,0,0,0.79);
}
.role .auto-disappear-popup.words.winning-words{
  bottom:calc(var(--fighter-visual-box-height) * 0.7);
}
.role .auto-disappear-popup.words.winning-words .content{
  color:#000;
  border-color:#342c19;
  background-color:#fc6;
}
.role .auto-disappear-popup.words.last-words{
  bottom:calc(var(--fighter-visual-box-height) * 0.45);
}
.role .auto-disappear-popup.words.last-words .content{
  color:#fff;
  border-color:#512;
  background-color:#a23;
}
@-moz-keyframes fighter-auto-disappear-popup-words{
  0%{
    opacity:0;
    transform:none;
  }
  7%, 92%{
    opacity:1;
  }
  9%, 94%{
    transform:translateY(-100%);
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@-webkit-keyframes fighter-auto-disappear-popup-words{
  0%{
    opacity:0;
    transform:none;
  }
  7%, 92%{
    opacity:1;
  }
  9%, 94%{
    transform:translateY(-100%);
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@-o-keyframes fighter-auto-disappear-popup-words{
  0%{
    opacity:0;
    transform:none;
  }
  7%, 92%{
    opacity:1;
  }
  9%, 94%{
    transform:translateY(-100%);
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@keyframes fighter-auto-disappear-popup-words{
  0%{
    opacity:0;
    transform:none;
  }
  7%, 92%{
    opacity:1;
  }
  9%, 94%{
    transform:translateY(-100%);
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@-moz-keyframes fighter-auto-disappear-popup-ending-words{
  0%{
    opacity:0;
    transform:none;
  }
  3%, 96%{
    opacity:1;
  }
  5%, 97.5%{
    transform:translateY(-100%);
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@-webkit-keyframes fighter-auto-disappear-popup-ending-words{
  0%{
    opacity:0;
    transform:none;
  }
  3%, 96%{
    opacity:1;
  }
  5%, 97.5%{
    transform:translateY(-100%);
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@-o-keyframes fighter-auto-disappear-popup-ending-words{
  0%{
    opacity:0;
    transform:none;
  }
  3%, 96%{
    opacity:1;
  }
  5%, 97.5%{
    transform:translateY(-100%);
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@keyframes fighter-auto-disappear-popup-ending-words{
  0%{
    opacity:0;
    transform:none;
  }
  3%, 96%{
    opacity:1;
  }
  5%, 97.5%{
    transform:translateY(-100%);
  }
  100%{
    opacity:0;
    transform:translateY(-319%);
  }
}
@-moz-keyframes fighter-auto-disappear-popup-default{
  0%{
    opacity:0;
    transform:none;
  }
  30%, 75%{
    opacity:1;
  }
  45%, 75%{
    transform:translateY(-100%);
  }
  100%{
    opacity:0;
    transform:translateY(-190%);
  }
}
@-webkit-keyframes fighter-auto-disappear-popup-default{
  0%{
    opacity:0;
    transform:none;
  }
  30%, 75%{
    opacity:1;
  }
  45%, 75%{
    transform:translateY(-100%);
  }
  100%{
    opacity:0;
    transform:translateY(-190%);
  }
}
@-o-keyframes fighter-auto-disappear-popup-default{
  0%{
    opacity:0;
    transform:none;
  }
  30%, 75%{
    opacity:1;
  }
  45%, 75%{
    transform:translateY(-100%);
  }
  100%{
    opacity:0;
    transform:translateY(-190%);
  }
}
@keyframes fighter-auto-disappear-popup-default{
  0%{
    opacity:0;
    transform:none;
  }
  30%, 75%{
    opacity:1;
  }
  45%, 75%{
    transform:translateY(-100%);
  }
  100%{
    opacity:0;
    transform:translateY(-190%);
  }
}
.role.player-1{
  left:1rem;
  right:auto;
}
.role.player-1 .keyboard-tips{
  left:0;
  right:auto;
}
.role.player-1 .origin{
  left:calc(var(--fighter-visual-box-width) / 2);
  right:auto;
}
.role.player-1 .words .player-id{
  color:#fff;
  border-color:currentColor;
  background-color:#911;
}
.role.player-1 .words:not(.winning-words):not(.last-words) .content{
  color:#fff;
  border-color:currentColor;
  background-color:#000;
}
.role.player-2{
  right:1rem;
}
.role.player-2 .keyboard-tips{
  left:auto;
  right:0;
}
.role.player-2 .origin{
  left:auto;
  right:calc(var(--fighter-visual-box-width) / 2);
}
.role.player-2 .words .player-id{
  color:#fff;
  border-color:currentColor;
  background-color:#191;
}
.role.player-2 .words:not(.winning-words):not(.last-words) .content{
  color:#000;
  border-color:currentColor;
  background-color:#fff;
}
.game-round-status-block{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:7rem;
  display:flex;
  align-items:center;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
}
.game-round-status-block .icon-versus{
  flex-grow:0;
  flex-shrink:0;
  width:5rem;
  height:5rem;
  margin:1rem;
  border-radius:0%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-image:url("../images/game-ui/vs.png");
}
.role-status-bar{
  position:relative;
  flex-grow:1;
  flex-shrink:1;
  height:5rem;
  padding:0;
  margin:auto 1rem;
}
.role-status-bar .fighter-avatar,
.role-status-bar .fighter-name,
.role-status-bar .player-id,
.role-status-bar .hp-bar-container{
  position:absolute;
  margin:auto;
}
.role-status-bar .fighter-avatar,
.role-status-bar .player-id,
.role-status-bar .hp-bar-container{
  top:0;
  bottom:0;
}
.role-status-bar .fighter-avatar{
  box-sizing:border-box;
  width:4rem;
  height:4rem;
  z-index:10;
  background-color:#ccc;
  border-radius:50%;
  border:0.15rem solid #fff;
  box-shadow:inset 0 0 0.3rem #000;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  box-shadow:0 0 0.4rem rgba(0,0,0,0.51);
}
.role-status-bar .fighter-avatar.role-candidate-001{
  background-image:url("../images/game-roles/role-001/fighter-.png");
}
.role-status-bar .fighter-avatar.role-candidate-002{
  background-image:url("../images/game-roles/role-002/fighter-.png");
}
.role-status-bar .player-id,
.role-status-bar .hp-bar-container{
  box-sizing:border-box;
}
.role-status-bar .fighter-name{
  padding:0.25em 1em;
  font-size:1rem;
  color:#fff;
  font-weight:600;
  letter-spacing:0.1em;
  border-radius:0 0 0.2rem 0.2rem;
  background-color:rgba(0,0,0,0.79);
  top:4rem;
}
.role-status-bar .player-id{
  font-size:1.5rem;
  border:0.4rem double #fff;
  display:flex;
  width:3.8rem;
  height:3.2rem;
  justify-content:center;
  align-items:center;
  text-shadow:0 0 0.15rem rgba(0,0,0,0.79);
}
.role-status-bar .hp-bar-container{
  height:3rem;
  border:1px solid #fff;
  backdrop-filter:blur(20px);
  box-shadow:0 0.25rem 0.25rem 0 rgba(0,0,0,0.16);
}
.role-status-bar .hp-bar-container .hp-bar{
  margin:0.2rem;
  overflow:hidden;
  position:absolute;
  top:0;
  bottom:0;
  border-radius:0.3rem;
  background-color:rgba(0,0,0,0.06);
  box-shadow:inset 0 0 0.2rem 0 rgba(0,0,0,0.15);
}
.role-status-bar .hp-bar-container .hp{
  width:100%;
  height:100%;
  opacity:1;
  transition-property:background-color, width, opacity;
  transition-duration:0.5s;
  transition-timing-function:ease-out;
  background-image:linear-gradient(0deg, transparent, rgba(255,255,255,0.15) 35% 65%, transparent);
}
.role-status-bar .hp-bar-container .hp.role-is-healthy{
  background-color:#adff2f;
}
.role-status-bar .hp-bar-container .hp.role-is-wounded{
  background-color:#ffd35b;
}
.role-status-bar .hp-bar-container .hp.role-is-dying{
  background-color:#800;
}
.role-status-bar .fighter-avatar,
.role-status-bar .fighter-name,
.role-status-bar .player-id{
  position:absolute;
  margin:auto;
}
.role-status-bar.player-1 .player-id{
  left:1rem;
  padding-right:0.9rem;
  border-radius:0.5rem 0 0 0.5rem;
  color:#fff;
  background-color:#911;
}
.role-status-bar.player-1 .hp-bar-container{
  border-radius:0 0.5rem 0.5rem 0;
  left:6.5rem;
  right:0;
}
.role-status-bar.player-1 .hp-bar-container .hp-bar{
  left:1rem;
  right:0;
}
.role-status-bar.player-1 .fighter-avatar{
  left:3.3rem;
}
.role-status-bar.player-1 .fighter-name{
  left:6rem;
}
.role-status-bar.player-2 .player-id{
  right:1rem;
  padding-left:0.9rem;
  border-radius:0 0.5rem 0.5rem 0;
  color:#fff;
  background-color:#191;
}
.role-status-bar.player-2 .hp-bar-container .hp-bar,
.role-status-bar.player-2 .fighter-avatar{
  transform:scaleX(-1);
}
.role-status-bar.player-2 .hp-bar-container{
  border-radius:0.5rem 0 0 0.5rem;
  left:0;
  right:6.5rem;
}
.role-status-bar.player-2 .hp-bar-container .hp-bar{
  left:0;
  right:1rem;
}
.role-status-bar.player-2 .fighter-avatar{
  right:3.3rem;
}
.role-status-bar.player-2 .fighter-name{
  right:6rem;
}
.game-rounds{
  position:static;
}
.game-round{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.game-round.entering{
  animation:game-round-entering 0.4s ease-out;
}
@-moz-keyframes game-round-entering{
  0%{
    transform:translateY(-110%) scale(0.79);
    opacity:0;
  }
  to{
    transform:none;
    opacity:1;
  }
}
@-webkit-keyframes game-round-entering{
  0%{
    transform:translateY(-110%) scale(0.79);
    opacity:0;
  }
  to{
    transform:none;
    opacity:1;
  }
}
@-o-keyframes game-round-entering{
  0%{
    transform:translateY(-110%) scale(0.79);
    opacity:0;
  }
  to{
    transform:none;
    opacity:1;
  }
}
@keyframes game-round-entering{
  0%{
    transform:translateY(-110%) scale(0.79);
    opacity:0;
  }
  to{
    transform:none;
    opacity:1;
  }
}
.game-round.leaving{
  animation:game-round-leaving 0.4s ease-in;
}
@-moz-keyframes game-round-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
@-webkit-keyframes game-round-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
@-o-keyframes game-round-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
@keyframes game-round-leaving{
  0%{
    transform:none;
    opacity:1;
  }
  to{
    transform:translateY(110%) scale(0.79);
    opacity:0;
  }
}
.game-round .fighting-stage{
  z-index:0;
}
.game-round .fighters{
  z-index:10;
}
.game-round .game-round-status-block{
  z-index:90;
}
.game-round .fighters-popups{
  z-index:120;
}
html{
  font-size:20px;
}
body{
  margin:0;
}
#app{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
  width:auto;
  height:auto;
  background-color:#000;
}
