.overlay-modal {

    &.game-intro {

        .modal {

            > .content {
                padding-bottom: 2rem
            }

            > footer {
                height 4.5em
                min-height @height
            }

            .keyboard-hints {
                width     100%
                min-width @width
                display flex
                justify-content space-around

                .keyboard-tip-container {
                    flex 1 1

                    .keyboard-tip {
                        width: 3.6em
                    }
                }
            }
        }
    }

    &.modal-of-tip-of-game-is-paused {

        .modal {
            height 9.5rem
        }
    }

    &.game-over-announcement {

        .modal {
            padding: 1rem 1rem
            width: 25rem
            height: 14rem

            > .content {
                text-align: center
            }
        }
    }
}