.overlay-modal {

    &.game-intro {

        .modal {

            .content {
                padding-bottom: 2rem
            }
        }
    }

    &.game-over-announcement {

        .modal {
            padding: 1rem 1rem
            width: 25rem
            height: 12rem

            .content {
                text-align: center
            }
        }
    }
}