.overlay-modal {

    &.game-intro {

        .modal {

            .content {
                padding-bottom: 2rem
            }
        }
    }

    &.game-over-announcement {

        .modal {
            padding: 1rem 1rem
            max-width 80%
            width: 32rem

            .content {
                text-align: center
            }
        }
    }
}