.check-box {
    checkBoxSize = 1em

    input[type="checkbox"] {
        width     checkBoxSize
        min-width @width
        height    @width
    }

    .description {
        margin-left checkBoxSize
    }
}
