.overlay-modal.game-preferences-panel-modal {
    
    .modal.huge {

        > .content {
            padding-bottom 0
        }

        > footer {
            display flex
            justify-content center

            .form-controls-row {
                margin 0
            }
        }
    }
}

.game-preferences-panel {
    display block
}
