.author-wishes {
    color white
    background-color: black

    display flex
    justify-content: center
    align-items: center

    article {
        text-align: center
        font-size: 1.2rem
        font-weight: 500
        letter-spacing: 0.2em
        padding: 1em 1em 4em 1em
    }

    .last-run-game-summary {
        margin-bottom: 2em

        font-size: 80%
        font-weight: bolder
        color #515151

        .game-duration {
            color #face79
        }
    }
}
