button {
    font-size 1rem
    display inline-block
    padding 0.25em 1.5em
    line-height: 1.5
    border-radius: 0.3em
    margin 0.5em

    float right

    border-style solid
    border-width 1px
    cursor pointer

    color white
    border-color #4020aa
    background-color: #7951fe

    &:hover {
        background-color: #5b39cd
    }

    &:active,
    &:focus {
        outline: none
        // outline 3px solid black
        box-shadow: 0 0 0 4px black
    }
}
