article {
    line-height: 1.6

    hr {
        margin 1rem auto
        border 0 solid transparent
        height 1px
        background-image: linear-gradient(
            to right,
            transparent 2%,
            #ddd 30% 70%,
            transparent 98%
        )
    }

    .align-center {
        text-align: center
    }

    .align-right {
        text-align: right
    }

    blockquote {
        margin 0

        em {
            font-weight: 600
            font-size: 120%
        }
    }
}