.count-down-overlay {
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    width auto
    height auto
    background-color rgba(black, 0.75)

    .modal {
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        width 16rem
        height 10rem
        margin auto

        display flex
        justify-content: center
        align-items: center

        border: 0.4rem double black
        border-radius: 1rem

        background-color: rgba(white, 1)
        box-shadow: 0 0 1rem rgba(black, 0.219)
    }

    .digit {
        text-align: center
        font-size: 6rem
        margin-bottom: 0.2rem
    }
}
