.role,
.role .locator,
.role .role-looks,
.role-candidate {
    position absolute
}

.role-looks,
.role-candidate {
    background-repeat no-repeat
    background-size contain
    background-position center
}

.player-2 {
    .role-candidate,
    .role-looks {
        transform scaleX(-1)
    }
}
