html {
    font-size: 20px;
}

body {
    margin: 0;
}

.ui-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

.fighting-stage {
    z-index: 0;
}

.game-round-status-block {
    z-index: 90;
}

.fighters {
    position relative
    z-index: 10;
}
