html {
    font-size: 20px;
}

body {
    margin: 0;
}

html, body {
    height 100%
}

#app {
    z-index 2

    position fixed
    top 0
    left 0
    right 0
    bottom 0
    margin 0
    padding 0
    width auto
    height auto
    background-color: black
}

#info-when-no-more-games {
    z-index 1

    position fixed
    top 0
    left 0
    right 0
    bottom 0
    margin 0
    padding 0
    width auto
    height auto

    color white
    background-color: black

    display flex
    justify-content: center
    align-items: center

    article {
        text-align: center
        font-size: 1.2rem
        font-weight: 500
        letter-spacing: 0.2em
    }
}
