.game-preferences-panel {
    display block
}

#app > .game-preferences-panel {
    position fixed
    top 0
    left 0
    right 0
    bottom 0

    background-color white

    > .content {
        padding: 2rem
    }
}

