#app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

.stage-background {
    position: absolute;
    z-index: 0;
}

.role-status-blocks {
    position: absolute;
    z-index: 90;
}

.stage-foreground {
    position: absolute;
    z-index: 10;
}