.role-picking-screen {
    background-image: \
        linear-gradient(to right, rgba(black, 0.9) 30%, transparent 44%, transparent 56%, rgba(black, 0.9) 70%),\
        url('../images/game-ui/挑选角色阶段的背景.webp')
    background-size: cover
    background-position: center

    &.leaving {
        animation fighters-picking-screen-leaving 0.3s ease-in

        @keyframes fighters-picking-screen-leaving {
            0% {
                transform none
                opacity 1
            }
            to {
                transform: translateY(110%) scale(0.79)
                opacity 0
            }
        }
    }
}

.role-candidates-slot {
    width: 400px
    height @width
    position absolute
    top 50%
    margin-top: -0.5 * @height
    margin-left: 100px
    margin-right: @margin-left

    &.player-1 {
        left 50px
    }

    &.player-2 {
        right 50px
    }

    &.fighter-has-decided .keyboard-tip {
        // display none
        opacity 0.05
    }


    .keyboard-tip {
        box-sizing content-box
        width 3rem
        height @width
        line-height: @height * 0.9
        border-radius: 0.5rem
        text-align: center
        opacity 1
        transition opacity 0.2s ease-out

        font-size: 2rem;
        z-index 319

        border 0.4rem double black
        background-color: white

        position absolute
        margin (@width * -0.5) (@height * -0.5)

        &.decision-maker {
            top auto
            bottom 0
            left 50%
        }

        &.pick-prev-candidate,
        &.pick-next-candidate {
            top 50%
        }

        &.pick-prev-candidate {
            left 0
        }

        &.pick-next-candidate {
            right 0
        }
    }

    .role-candidate {
        left 0
        width: 100%
        height 100%
    }
}
