#role-picking-screen {
    background-image: url('../images/game-ui/挑选角色阶段的背景.webp')
    background-size: cover
}

.role-candidates-slot {
    width: 400px
    height @width
    position absolute
    top 50%
    margin-top: -0.5 * @height
    margin-left: 100px
    margin-right: @margin-left
    overflow: hidden

    &.player-1 {
        left 50px
    }

    &.player-2 {
        right 50px
    }


    .role-candidate {
        left 0
        width: 100%
        height 100%
    }
}
