roundStatusBarHeight = 7rem

.fighters {
    position absolute // for z-index
    --fighter-visual-box-width  30rem
    --fighter-visual-box-height 30rem
    left 1rem
    right 1rem

    margin-top: roundStatusBarHeight
    top calc( var(--fighter-visual-box-height) )
    bottom 0.5rem

    overflow visible

    width auto
    height auto
}

.role {
    top auto
    bottom 0

    & {
        z-index: 5;
    }

    &.is-attacking {
        z-index: 6;
    }

    // -----------------------------

    .origin,
    .locator,
    .popups,
    .effects,
    .role-looks {
        position absolute
        top auto
        width 0
        height 0
        overflow visible
    }

    .origin {
        bottom 4.5rem

        // 以下是测试代码
        // background-color blue
        // width 20px
        // height 20px
    }

    .locator,
    .popups {
        bottom 0
    }

    .locator {
        transition-property: top right bottom left transform
        transition-timing-function: ease
        transition-duration: 0.15s

        // 以下是测试代码
        // background-color red
        // width 10px
        // height 10px
    }

    .popups {
        left calc( var(--fighter-visual-box-width) / -4 )

        // 以下是测试代码
        // background-color rgba(green, 0.4)
        // width  calc( var(--fighter-visual-box-width) / 2 )
        // height var(--fighter-visual-box-height)
    }

    .popups * {
        pointer-events none
    }

    .effects,
    .role-looks {
        width  var(--fighter-visual-box-width)
        height var(--fighter-visual-box-height)
        right  auto
        bottom 0
    }

    .role-looks {
        left   calc(var(--fighter-visual-box-width) / -2 )
        right  auto
        bottom 0

        // 以下是测试代码
        // background-color rgba(red, 0.45)
    }

    .effects {
        left 0

        &.is-defencing {

            animationDuration = 1s

            &::before,
            &::after {
                content ''
                position absolute
                top 0
                left 0
                right 0
                bottom 0
                border-radius 50%

                animation-name fighter-defencing-effects
                animation-duration animationDuration
                animation-timing-function ease-out
                animation-iteration-count infinite
                animation-fill-mode both
                
                box-shadow inset 0 0 1rem rgba(red, 0.6) // in case animation is not supported

                @keyframes fighter-defencing-effects {
                    0% {
                        opacity 0;
                        margin: 20%;
                        box-shadow: inset 0 0 1.2rem 0 #515;
                    }

                    16%, 51% {
                        opacity 1;
                    }

                    65%, 100% {
                        box-shadow: inset 0 0 1.8rem 0 #d8f;
                        margin: 10%;
                        opacity 0;
                    }
                }
            }

            &::before {
                margin 20% // in case animation is not supported
                animation-delay 0
            }

            &::after {
                margin 18% // in case animation is not supported
                animation-delay (animationDuration / 3)
            }
        }
    }

    .keyboard-tips {
        position absolute
        bottom 0
        width 13rem
        height 4.4rem
        display flex
        flex-wrap nowrap
        justify-content space-between

        opacity 1

        transition opaciy 0.3s ease-out
    }

    // -----------------------------

    &.has-lost {

        .role-looks {
            opacity 0.6
            filter grayscale(0.8)
        }

        .keyboard-tips {
            opacity 0.1
        }
    }

    &.has-won {

        .keyboard-tips {
            opacity 0.1
        }
    }

    .keyboard-tip-container {
        flex 0 0

        position relative
        min-width 3rem
        height: 100%
    }

    .keyboard-tip,
    .keyboard-tip-label {
        text-align center
        position absolute
        margin 0 auto
        left 0
        right 0
    }

    .keyboard-tip-label {
        top 0
        bottom auto

        font-size 0.8rem
        width auto
        height 1.5rem
        line-height 1.5rem
        border-radius 0.25rem

        color white
        background-color rgba(black, 0.87)
    }

    .keyboard-tip {
        top auto
        bottom 0

        font-size 1.3rem

        width  2rem
        height @width
        line-height @width

        border-radius 0.5rem
    }

    .auto-disappear-popup {
        position absolute
        overflow visible

        animation-name fighter-auto-disappear-popup
        animation-timing-function ease-in-out
        animation-fill-mode both

        @keyframes fighter-auto-disappear-popup {
            0% {
                opacity 0
                transform none
            }

            30%, 75% {
                opacity 1
            }

            45%, 75% {
                transform translateY(-100%)
            }

            100% {
                opacity 0
                transform translateY(-190%)
            }
        }

        &.health-point-decrease {
            z-index 3

            animation-duration 1s

            .content {
                font-size 1.2rem
                padding 0.25em 1em
                line-height 1.3

                border-radius 0.5rem
                border 0.25rem double white

                color white
                background-color rgba(red, 0.79)
            }
        }

        &.words {
            z-index 19

            text-align center

            width: 19rem
            height 2rem // 定高，为了动画的 translateY 一致

            animation-name fighter-auto-disappear-popup-words
            animation-duration 4.5s

            .content {
                font-size 1rem

                display inline-block
                padding 0.5em 0.5em 0.5em 1em // 标点符号在右侧留下的空白太多，所以 padding-right 酌情减少。
                line-height 1.3
                text-align center

                border-radius 0.5rem
                border 0.39rem double black

                color black
                background-color white
            }

            &.winning-words,
            &.last-words {
                bottom calc( var(--fighter-visual-box-height) *  0.66 )
                left   calc( var(--fighter-visual-box-height) * -0.25 )
                width var(--fighter-visual-box-width)

                // 下面一行是测试代码
                // background-color: blue

                .content {
                    box-shadow 0 0 0.6rem rgba(black, 0.79)
                }
            }

            &.winning-words .content {
                color black
                border-color #342c19
                background-color #fc6
            }

            &.last-words .content {
                color white
                border-color #512
                background-color #a23
            }

            @keyframes fighter-auto-disappear-popup-words {
                0% {
                    opacity 0
                    transform none
                }

                7%, 92% {
                    opacity 1
                }

                9%, 94% {
                    transform translateY(-100%)
                }

                100% {
                    opacity 0
                    transform translateY(-319%)
                }
            }
        }
    }

    // -----------------------------

    &.player-1 {
        left 1rem
        right auto

        .keyboard-tips {
            left 0
            right auto
        }

        .origin {
            left calc( var(--fighter-visual-box-width) / 2 )
            right auto
        }
    }

    &.player-2 {
        right 1rem

        .keyboard-tips {
            left auto
            right 0
        }

        .origin {
            left auto
            right calc( var(--fighter-visual-box-width) / 2 )
        }
    }
}

