.game-rounds {
    position static
}

.game-round {
    position absolute
    top 0
    left 0
    right 0
    bottom 0


    &.entering {
        animation game-round-entering 0.4s ease-out

        @keyframes game-round-entering {
            0% {
                transform translateY(-110%) scale(0.79)
                opacity 0
            }

            to {
                transform none
                opacity 1
            }
        }
    }


    &.leaving {
        animation game-round-leaving 0.4s ease-in


        @keyframes game-round-leaving {
            0% {
                transform none
                opacity 1
            }

            to {
                transform translateY(110%) scale(0.79)
                opacity 0
            }
        }
    }


    &.is-over {
        .keyboard-hints {
            opacity 0.05
        }
    }


    .fighting-stage {
        z-index 0
    }

    .fighters {
        z-index 10
    }

    .game-round-status-block {
        z-index 90
    }

    .fighters-popups {
        z-index 120
    }

    .keyboard-hints {
        z-index 200
    }

    .keyboard-hints {
        position absolute
        top auto
        bottom 0.5rem
        left 0
        right 0
        width 0
        height 0
        margin auto

        .keyboard-tip-container {
            position absolute
            width: 4rem
            bottom 0
            margin-left: -2rem
        }
    }

    .overlay-modal.game-round-result-announcement {

        .modal {
            width: 32rem
        }
    }
}
