roundStatusBarHeight = 7rem

.game-round {
    --fighter-visual-box-width  30rem
    --fighter-visual-box-height 30rem
}

.fighters-popups,
.fighters {

    &
    .role {
        position absolute
        left 0
        right 0
        width auto
        height auto
        overflow visible
    }

    margin-top: roundStatusBarHeight

    top calc( var(--fighter-visual-box-height) )
    bottom 0.5rem
}

.role {
    top auto
    bottom 0

    & {
        z-index: 5;
    }

    &.is-attacking {
        z-index: 6;
    }

    // -----------------------------

    .locator,
    .popups,
    .effects,
    .role-looks {
        position absolute
        top auto
        width 0
        height 0
        overflow visible
    }

    .locator,
    .popups {
        bottom 4.5rem
    }

    .locator {
        transition-property: top right bottom left transform
        transition-timing-function: ease
        transition-duration: 0.15s

        // 以下是测试代码
        // background-color red
        // width 10px
        // height 10px
    }

    .popups {
        z-index 100

        left calc( var(--fighter-visual-box-width) / -4 )

        // 以下是测试代码
        // background-color rgba(green, 0.4)
        // width  calc( var(--fighter-visual-box-width) / 2 )
        // height var(--fighter-visual-box-height)
    }

    .popups * {
        pointer-events none
    }

    .effects,
    .role-looks {
        width  var(--fighter-visual-box-width)
        height var(--fighter-visual-box-height)
        right  auto
        bottom 0
    }

    .role-looks {
        left   calc(var(--fighter-visual-box-width) / -2 )
        right  auto
        bottom 0

        // 以下是测试代码
        // background-color rgba(red, 0.45)
    }

    .effects {
        left 0

        &.is-defencing {
            --effect-of-defencing-color-1: #62c7
            --effect-of-defencing-color-2: #a8e5

            animationDuration = 1.5s

            &::before,
            &::after {
                content ''
                position absolute
                top 0
                left 0
                right 0
                bottom 0
                border-radius 50%

                animation-duration animationDuration
                animation-timing-function linear
                animation-iteration-count infinite
                animation-fill-mode both

                box-shadow inset 0 0 1rem var(--effect-of-defencing-color-1);// in case animation is not supported
            }

            &::before {
                margin 25% // in case animation is not supported
                // animation-delay 0
                animation-name fighter-defencing-effects-1

                @keyframes fighter-defencing-effects-1 {
                    0%, 35% {
                        opacity 0;
                        margin: 30%;
                        background-color:              var(--effect-of-defencing-color-1);
                        box-shadow: inset 0 0 1.2rem 0 var(--effect-of-defencing-color-1);
                    }

                    51%, 81% {
                        opacity 1;
                    }

                    96%, 100% {
                        background-color: transparent;
                        box-shadow: inset 0 0 1.8rem 0 var(--effect-of-defencing-color-2);
                        margin: 5%;
                        opacity 0;
                    }
                }
            }

            &::after {
                margin 21% // in case animation is not supported
                // animation-delay (animationDuration / 3)
                animation-name fighter-defencing-effects-2

                @keyframes fighter-defencing-effects-2 {
                    0% {
                        opacity 0;
                        margin: 30%;
                        background-color:              var(--effect-of-defencing-color-1);
                        box-shadow: inset 0 0 1.2rem 0 var(--effect-of-defencing-color-1);
                    }

                    16%, 49% {
                        opacity 1;
                    }

                    61%, 100% {
                        background-color: transparent;
                        box-shadow: inset 0 0 1.8rem 0 var(--effect-of-defencing-color-2);
                        margin: 5%;
                        opacity 0;
                    }
                }
            }
        }
    }

    .keyboard-tips {
        font-size: 1rem
        position absolute
        bottom 0
        width 13em
        display flex
        flex-wrap nowrap
        justify-content space-between

        opacity 1

        transition opaciy 0.3s ease-out
    }

    // -----------------------------

    &.has-lost {

        .role-looks {
            opacity 0.6
            -webkit-filter grayscale(0.8)
            filter grayscale(0.8)
        }

        .keyboard-tips {
            opacity 0.1
        }
    }

    &.has-won {

        .keyboard-tips {
            opacity 0.1
        }
    }

    .auto-disappear-popup {
        position absolute
        overflow visible

        animation-name fighter-auto-disappear-popup-default
        animation-timing-function ease-in-out
        animation-fill-mode both

        @keyframes fighter-auto-disappear-popup-default {
            0% {
                opacity 0
                transform none
            }

            30%, 75% {
                opacity 1
            }

            45%, 75% {
                transform translateY(-100%)
            }

            100% {
                opacity 0
                transform translateY(-190%)
            }
        }

        &.health-point-decrease {
            z-index 3

            animation-duration 1s

            .content {
                font-size 1.2rem
                padding 0.25em 1em
                line-height 1.3

                border-radius 0.5rem
                border 0.25rem double white

                color white
                background-color rgba(red, 0.79)
            }
        }

        &.words {
            z-index 19

            text-align center

            width: 19rem
            height 2rem // 定高，为了动画的 translateY 一致

            animation-name fighter-auto-disappear-popup-words
            animation-duration 4.5s

            .content {
                font-size 1rem

                display inline-block
                position relative
                padding 0.5em 0.5em 0.5em 1.9rem // 标点符号在右侧留下的空白太多，所以 padding-right 酌情减少。
                line-height 1.33
                text-align center

                border-radius 0.5rem
                border 0.39rem double black

                color black
                background-color white
            }

            .player-id,
            .avatar {
                position absolute
                margin: auto
            }

            .player-id {
                z-index 2

                font-size 1.2rem

                width 3.2rem
                height 2.33rem
                line-height @height

                top -0.4rem
                left (-1.5 * @width)
                text-align left
                padding 0 0 0 0.6rem

                border-radius 0.6rem

                border (- @top) double transparent
            }

            .avatar {
                z-index 4

                height 3.6rem
                width @height

                top -0.9rem
                left (-0.75 * @width)

                border-radius 50%

                border: 0.15rem solid white
                background-color: white
                box-shadow inset 0 0 0.2rem rgba(black, 0.219), 0 0 0.5rem 0 rgba(black, 0.51)

                background-size cover
                background-repeat no-repeat
                background-position center
            }

            &.winning-words,
            &.last-words {
                z-index 30

                left  calc( var(--fighter-visual-box-height) * -0.25 )
                width var(--fighter-visual-box-width)

                animation-name fighter-auto-disappear-popup-ending-words
                animation-duration 10s

                // 下面一行是测试代码
                // background-color: blue

                .content {

                    &,
                    .player-id {
                        box-shadow 0 0 0.6rem rgba(black, 0.79)
                    }
                }
            }

            &.winning-words {
                bottom calc( var(--fighter-visual-box-height) *  0.7 )

                .content {
                    color black
                    border-color #342c19
                    background-color #fc6
                }
            }

            &.last-words {
                bottom calc( var(--fighter-visual-box-height) *  0.45 )

                .content {
                    color white
                    border-color #512
                    background-color #a23
                }
            }

            @keyframes fighter-auto-disappear-popup-words {
                0% {
                    opacity 0
                    transform none
                }

                7%, 92% {
                    opacity 1
                }

                9%, 94% {
                    transform translateY(-100%)
                }

                100% {
                    opacity 0
                    transform translateY(-319%)
                }
            }

            @keyframes fighter-auto-disappear-popup-ending-words {
                0% {
                    opacity 0
                    transform none
                }

                3%, 96% {
                    opacity 1
                }

                5%, 97.5% {
                    transform translateY(-100%)
                }

                100% {
                    opacity 0
                    transform translateY(-319%)
                }
            }
        }
    }

    // -----------------------------

    &.player-1 {

        .keyboard-tips {
            left 0
            right auto
        }

        .words {

            .player-id {
                color white
                border-color currentColor
                background-color #911;
            }

            &:not(.winning-words):not(.last-words) .content {
                color white
                border-color currentColor
                background-color black
            }
        }
    }

    &.player-2 {

        .role-looks {
            -webkit-filter: hue-rotate(120deg);
            filter: hue-rotate(120deg);
        }

        &.has-lost {

            .role-looks {
                opacity 0.6
                -webkit-filter hue-rotate(120deg) grayscale(0.8);
                filter hue-rotate(120deg) grayscale(0.8);
            }
        }

        .keyboard-tips {
            left auto
            right 0
        }

        .words {

            .player-id {
                color white
                border-color currentColor
                background-color #191
            }

            .avatar {
                -webkit-filter: hue-rotate(120deg);
                filter: hue-rotate(120deg);
            }

            &:not(.winning-words):not(.last-words) .content {
                color black
                border-color currentColor
                background-color white
            }
        }
    }
}

